.minor {
    display: inline-block;
    padding: 2px 2px;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    background-color: #71aff1;
}
.major {
    display: inline-block;
    padding: 2px 2px;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    background-color: #88e79e;
}
.breaking {
    display: inline-block;
    padding: 2px 2px;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    background-color: #ee6472;
}
.fullscreen-mermaid {
    background: #ffffff !important; 
}